.title {
    text-align: center;
}
.input-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
}

table, th, td {
    border: 1px solid black;
}

.main-table{
    border-collapse: collapse;
}

.row-red {
    background-color: red;
}

.row-blue {
    background-color: blue;
}